[NessusSecurityCenterConfig]
host = 
linux_asset_id=
windows_asset_id=

[CMDBElasticSearch]
url = http://<host>:<port>
index = <index>
windows_search_string=
non_windows_search_string=
appliance_exclusion_file=


[NessusSecurityCenterVulnAcceptance]
vuln_acceptance_list=./acceptance.csv


[AutomationConfiguration]
logging_file=
